.corpo_texto{
    position: absolute;
    width: 450px;
    height: auto;
    background-color: rgba(228, 236, 244, 0.766);
    color: #333;
    padding: 15px;
    font-size: 2opx;
    border-radius: 10px;
    z-index: 3;
    top: 50px;
    left: 50%;

}

.imagem_props{
    width: 50px;
}